.home .digitscreen {
  display: flex; /*对于一行会自动弹性布局*/
  flex-wrap: wrap; /*对于6个模块需要换行*/
  justify-content: space-between; /*表示水平两端对齐，justify-content：水平对齐的方式*/
}

.home .digitscreen .el-card {
  width: 32%;
  margin-bottom: 20px; /*模块之前有间隔*/
}
 
.digit {
  float:right;
  font-size:400%;
  color: rgb(41, 156, 70);
}

.digitscreen {

}
 
.txt {
  
}

.screensplit {
  float:left
}

.home .graph {
  display: flex; /*对于一行会自动弹性布局*/
  justify-content: space-between; /*表示水平两端对齐，justify-content：水平对齐的方式*/
}
 
.home .graph .el-card {
  width: 100%;
  margin-top: 10px; /*模块之前有间隔*/
}

.detail {
  position: relative;
  border-radius: 3px;
}